#ifndef ${name}_H
#define ${name}_H
$includes

${namespace_open}
class $name {
public:
$members
$extracode_declarations
};
${namespace_close}

inline std::ostream& operator<<( std::ostream& o, const ${name}& value ){o << ${outputstring} std::endl ;//   o << "\n" ;return o ;}
  

#endif
